nodered-testflow/0-2-0.json
[
    {
        "id": "t0",
        "type": "comment",
        "z": "c3995064345d68e9",
        "name": "=== PID Controller v0.2.0 Test Suite ===",
        "info": "Complete test for all PID features including Feed-Forward",
        "x": 280,
        "y": 3040,
        "wires": []
    },
    {
        "id": "a1",
        "type": "inject",
        "z": "c3995064345d68e9",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 3100,
        "wires": [
            [
                "a2"
            ]
        ]
    },
    {
        "id": "a2",
        "type": "function",
        "z": "c3995064345d68e9",
        "name": "Thermal Process + Outside Temp",
        "func": "// Thermal simulation with outside temperature influence\nvar temp = flow.get('temperature') || 15;\nvar output = flow.get('heaterOutput') || 0;\nvar ambient = flow.get('ambient') || 10;\nvar outside = flow.get('outsideTemp') || 10;\nvar disturbance = flow.get('disturbance') || 0;\n\n// Outside temp affects heat loss\nvar outsideEffect = (outside - 10) * 0.01; // colder = more loss\n\n// Thermal model: heating + heat loss + disturbance\nvar heatGain = output * 0.05;\nvar heatLoss = (temp - ambient) * 0.02 - outsideEffect;\ntemp = temp + heatGain - heatLoss + disturbance;\n\n// Add sensor noise (±0.1°C)\nvar noise = (Math.random() - 0.5) * 0.2;\nvar measuredTemp = temp + noise;\n\n// Reset disturbance after applying\nflow.set('disturbance', 0);\nflow.set('temperature', temp);\n\nmsg.payload = Math.round(measuredTemp * 10) / 10;\nmsg.actual = Math.round(temp * 10) / 10;\n\n// Add feedForward based on outside temperature deviation from 10°C\nmsg.feedForward = (10 - outside) * 0.5; // Cold = positive FF\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 3100,
        "wires": [
            [
                "a3",
                "t1"
            ]
        ]
    },
    {
        "id": "a3",
        "type": "pid-controller",
        "z": "c3995064345d68e9",
        "name": "PID with Feed-Forward",
        "setpoint": "22",
        "useXp": true,
        "Kp": "20",
        "Ti": "300",
        "Td": "0",
        "outMin": "0",
        "outMax": "100",
        "rateLimit": "0",
        "reverseActing": false,
        "centeredBand": false,
        "manualMode": false,
        "manualValue": "0",
        "decimals": "1",
        "maxInterval": "5",
        "ffEnable": true,
        "ffGain": "1",
        "x": 720,
        "y": 3100,
        "wires": [
            [
                "a4",
                "a5",
                "t2"
            ],
            [
                "a6"
            ]
        ]
    },
    {
        "id": "a4",
        "type": "function",
        "z": "c3995064345d68e9",
        "name": "Save Output",
        "func": "flow.set('heaterOutput', msg.payload);\nreturn msg;",
        "outputs": 1,
        "x": 970,
        "y": 3100,
        "wires": [
            []
        ]
    },
    {
        "id": "a5",
        "type": "debug",
        "z": "c3995064345d68e9",
        "name": "PID Output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "statusVal": "payload",
        "statusType": "auto",
        "x": 970,
        "y": 3160,
        "wires": []
    },
    {
        "id": "a6",
        "type": "debug",
        "z": "c3995064345d68e9",
        "name": "Status",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "statusVal": "payload",
        "statusType": "auto",
        "x": 950,
        "y": 3220,
        "wires": []
    },
    {
        "id": "t1",
        "type": "function",
        "z": "c3995064345d68e9",
        "name": "Format PV",
        "func": "return {payload: msg.payload, topic: 'PV'};",
        "outputs": 1,
        "x": 710,
        "y": 3280,
        "wires": [
            [
                "t3"
            ]
        ]
    },
    {
        "id": "t2",
        "type": "function",
        "z": "c3995064345d68e9",
        "name": "Extract PID Details",
        "func": "return {\n    payload: {\n        output: msg.payload,\n        P: msg.pid.P,\n        I: msg.pid.I,\n        D: msg.pid.D,\n        FF: msg.pid.FF,\n        error: msg.pid.error\n    },\n    topic: 'PID'\n};",
        "outputs": 1,
        "x": 990,
        "y": 3280,
        "wires": [
            [
                "t3"
            ]
        ]
    },
    {
        "id": "t3",
        "type": "debug",
        "z": "c3995064345d68e9",
        "name": "Trend Data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "statusVal": "topic",
        "statusType": "msg",
        "x": 1190,
        "y": 3280,
        "wires": []
    },
    {
        "id": "c0",
        "type": "comment",
        "z": "c3995064345d68e9",
        "name": "--- Setpoint Changes ---",
        "x": 240,
        "y": 3160,
        "wires": []
    },
    {
        "id": "b1",
        "type": "inject",
        "z": "c3995064345d68e9",
        "name": "SP 18°C",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "setpoint",
                "v": "18",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "20",
        "payloadType": "num",
        "x": 220,
        "y": 3200,
        "wires": [
            [
                "a3"
            ]
        ]
    },
    {
        "id": "b2",
        "type": "inject",
        "z": "c3995064345d68e9",
        "name": "SP 22°C",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "setpoint",
                "v": "22",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "20",
        "payloadType": "num",
        "x": 220,
        "y": 3240,
        "wires": [
            [
                "a3"
            ]
        ]
    },
    {
        "id": "b3",
        "type": "inject",
        "z": "c3995064345d68e9",
        "name": "SP 25°C",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "setpoint",
                "v": "25",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "20",
        "payloadType": "num",
        "x": 220,
        "y": 3280,
        "wires": [
            [
                "a3"
            ]
        ]
    },
    {
        "id": "c1",
        "type": "comment",
        "z": "c3995064345d68e9",
        "name": "--- Manual Mode ---",
        "x": 230,
        "y": 3340,
        "wires": []
    },
    {
        "id": "m1",
        "type": "inject",
        "z": "c3995064345d68e9",
        "name": "Manual 0%",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "manual",
                "v": "true",
                "vt": "bool"
            },
            {
                "p": "manualValue",
                "v": "0",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "20",
        "payloadType": "num",
        "x": 230,
        "y": 3380,
        "wires": [
            [
                "a3"
            ]
        ]
    },
    {
        "id": "m2",
        "type": "inject",
        "z": "c3995064345d68e9",
        "name": "Manual 50%",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "manual",
                "v": "true",
                "vt": "bool"
            },
            {
                "p": "manualValue",
                "v": "50",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "20",
        "payloadType": "num",
        "x": 230,
        "y": 3420,
        "wires": [
            [
                "a3"
            ]
        ]
    },
    {
        "id": "m3",
        "type": "inject",
        "z": "c3995064345d68e9",
        "name": "Manual 100%",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "manual",
                "v": "true",
                "vt": "bool"
            },
            {
                "p": "manualValue",
                "v": "100",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "20",
        "payloadType": "num",
        "x": 230,
        "y": 3460,
        "wires": [
            [
                "a3"
            ]
        ]
    },
    {
        "id": "m4",
        "type": "inject",
        "z": "c3995064345d68e9",
        "name": "→ Auto (Bumpless)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "manual",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "20",
        "payloadType": "num",
        "x": 250,
        "y": 3500,
        "wires": [
            [
                "a3"
            ]
        ]
    },
    {
        "id": "cff",
        "type": "comment",
        "z": "c3995064345d68e9",
        "name": "--- Feed-Forward (Outside Temp) ---",
        "x": 280,
        "y": 3560,
        "wires": []
    },
    {
        "id": "ff1",
        "type": "inject",
        "z": "c3995064345d68e9",
        "name": "Outside -10°C (very cold)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "-10",
        "payloadType": "num",
        "x": 270,
        "y": 3600,
        "wires": [
            [
                "ff0"
            ]
        ]
    },
    {
        "id": "ff2",
        "type": "inject",
        "z": "c3995064345d68e9",
        "name": "Outside 0°C (cold)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 250,
        "y": 3640,
        "wires": [
            [
                "ff0"
            ]
        ]
    },
    {
        "id": "ff3",
        "type": "inject",
        "z": "c3995064345d68e9",
        "name": "Outside 10°C (mild)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "x": 250,
        "y": 3680,
        "wires": [
            [
                "ff0"
            ]
        ]
    },
    {
        "id": "ff4",
        "type": "inject",
        "z": "c3995064345d68e9",
        "name": "Outside 20°C (warm)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "20",
        "payloadType": "num",
        "x": 260,
        "y": 3720,
        "wires": [
            [
                "ff0"
            ]
        ]
    },
    {
        "id": "ff5",
        "type": "inject",
        "z": "c3995064345d68e9",
        "name": "Outside 30°C (hot)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "30",
        "payloadType": "num",
        "x": 250,
        "y": 3760,
        "wires": [
            [
                "ff0"
            ]
        ]
    },
    {
        "id": "ff0",
        "type": "function",
        "z": "c3995064345d68e9",
        "name": "Set Outside Temp",
        "func": "flow.set('outsideTemp', msg.payload);\nvar ff = (10 - msg.payload) * 0.5;\nnode.status({\n    fill: msg.payload < 10 ? 'blue' : 'red',\n    shape: 'dot',\n    text: 'Outside: ' + msg.payload + '°C → FF: ' + ff.toFixed(1)\n});\nreturn null;",
        "outputs": 1,
        "x": 570,
        "y": 3680,
        "wires": [
            []
        ]
    },
    {
        "id": "c2",
        "type": "comment",
        "z": "c3995064345d68e9",
        "name": "--- Disturbances (instant) ---",
        "x": 260,
        "y": 3820,
        "wires": []
    },
    {
        "id": "d1",
        "type": "inject",
        "z": "c3995064345d68e9",
        "name": "Heat +5°C (door open)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 260,
        "y": 3860,
        "wires": [
            [
                "d0"
            ]
        ]
    },
    {
        "id": "d2",
        "type": "inject",
        "z": "c3995064345d68e9",
        "name": "Cool -5°C (window open)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "-5",
        "payloadType": "num",
        "x": 270,
        "y": 3900,
        "wires": [
            [
                "d0"
            ]
        ]
    },
    {
        "id": "d0",
        "type": "function",
        "z": "c3995064345d68e9",
        "name": "Apply Disturbance",
        "func": "flow.set('disturbance', msg.payload);\nnode.status({fill:'red', shape:'dot', text:'Disturbance: ' + msg.payload + '°C'});\nreturn null;",
        "outputs": 1,
        "x": 570,
        "y": 3880,
        "wires": [
            []
        ]
    },
    {
        "id": "c3",
        "type": "comment",
        "z": "c3995064345d68e9",
        "name": "--- Runtime Param Override ---",
        "x": 260,
        "y": 3960,
        "wires": []
    },
    {
        "id": "p1",
        "type": "inject",
        "z": "c3995064345d68e9",
        "name": "Xp=50% (slow)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "Xp",
                "v": "50",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "20",
        "payloadType": "num",
        "x": 240,
        "y": 4000,
        "wires": [
            [
                "a3"
            ]
        ]
    },
    {
        "id": "p2",
        "type": "inject",
        "z": "c3995064345d68e9",
        "name": "Xp=20% (default)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "Xp",
                "v": "20",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "20",
        "payloadType": "num",
        "x": 250,
        "y": 4040,
        "wires": [
            [
                "a3"
            ]
        ]
    },
    {
        "id": "p3",
        "type": "inject",
        "z": "c3995064345d68e9",
        "name": "Ti=60s (fast I)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "Ti",
                "v": "60",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "20",
        "payloadType": "num",
        "x": 240,
        "y": 4080,
        "wires": [
            [
                "a3"
            ]
        ]
    },
    {
        "id": "p4",
        "type": "inject",
        "z": "c3995064345d68e9",
        "name": "Ti=300s (default)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "Ti",
                "v": "300",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "20",
        "payloadType": "num",
        "x": 250,
        "y": 4120,
        "wires": [
            [
                "a3"
            ]
        ]
    },
    {
        "id": "c4",
        "type": "comment",
        "z": "c3995064345d68e9",
        "name": "--- Control ---",
        "x": 210,
        "y": 4180,
        "wires": []
    },
    {
        "id": "r1",
        "type": "inject",
        "z": "c3995064345d68e9",
        "name": "RESET ALL",
        "props": [
            {
                "p": "reset",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 230,
        "y": 4220,
        "wires": [
            [
                "a3",
                "r0"
            ]
        ]
    },
    {
        "id": "r0",
        "type": "function",
        "z": "c3995064345d68e9",
        "name": "Reset Process",
        "func": "flow.set('temperature', 15);\nflow.set('heaterOutput', 0);\nflow.set('disturbance', 0);\nflow.set('outsideTemp', 10);\nnode.status({fill:'yellow', shape:'ring', text:'Process reset: 15°C, Outside 10°C'});\nreturn null;",
        "outputs": 1,
        "x": 560,
        "y": 4220,
        "wires": [
            []
        ]
    },
    {
        "id": "r2",
        "type": "inject",
        "z": "c3995064345d68e9",
        "name": "STOP (for interval test)",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 260,
        "y": 4260,
        "wires": [
            [
                "r3"
            ]
        ]
    },
    {
        "id": "r3",
        "type": "function",
        "z": "c3995064345d68e9",
        "name": "Stop Info",
        "func": "node.status({fill:'red', shape:'ring', text:'Stopped - wait 5s for interval warning'});\nreturn null;",
        "outputs": 1,
        "x": 540,
        "y": 4260,
        "wires": [
            []
        ]
    },
    {
        "id": "cinfo",
        "type": "comment",
        "z": "c3995064345d68e9",
        "name": "=== Info: FF = (10 - outsideTemp) × 0.5 | Cold → +FF | Hot → -FF ===",
        "x": 370,
        "y": 4320,
        "wires": []
    }
]