nodered-testflow/0-3-6.json
[
    {
        "id": "t0_036",
        "type": "comment",
        "z": "c3995064345d68e9",
        "name": "=== PID Controller v0.3.6 Test Suite ===",
        "info": "Complete test for all PID features including:\n- Industry aliases (pv, sp, ff, external, cascade)\n- Tracking NaN protection\n- Feed-Forward limiting\n- Integrator soft clamp\n- Reset restores default setpoint",
        "x": 280,
        "y": 40,
        "wires": []
    },
    {
        "id": "a1_036",
        "type": "inject",
        "z": "c3995064345d68e9",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "a2_036"
            ]
        ]
    },
    {
        "id": "a2_036",
        "type": "function",
        "z": "c3995064345d68e9",
        "name": "Thermal Process",
        "func": "var temp = flow.get('temperature') || 15;\nvar output = flow.get('heaterOutput') || 0;\nvar ambient = flow.get('ambient') || 10;\nvar outside = flow.get('outsideTemp') || 10;\nvar disturbance = flow.get('disturbance') || 0;\n\nvar outsideEffect = (outside - 10) * 0.01;\nvar heatGain = output * 0.05;\nvar heatLoss = (temp - ambient) * 0.02 - outsideEffect;\ntemp = temp + heatGain - heatLoss + disturbance;\n\nvar noise = (Math.random() - 0.5) * 0.2;\nvar measuredTemp = temp + noise;\n\nflow.set('disturbance', 0);\nflow.set('temperature', temp);\n\nmsg.payload = Math.round(measuredTemp * 10) / 10;\nmsg.actual = Math.round(temp * 10) / 10;\nmsg.ff = (10 - outside) * 0.5;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 100,
        "wires": [
            [
                "a3_036",
                "t1_036"
            ]
        ]
    },
    {
        "id": "a3_036",
        "type": "pid-controller",
        "z": "c3995064345d68e9",
        "name": "PID v0.3.6",
        "setpoint": "22",
        "useXp": true,
        "Kp": "20",
        "Ti": "300",
        "Td": "0",
        "outMin": "0",
        "outMax": "100",
        "rateLimit": "0",
        "reverseActing": false,
        "centeredBand": false,
        "manualMode": false,
        "manualValue": "0",
        "decimals": "1",
        "maxInterval": "5",
        "ffEnable": true,
        "ffGain": "1",
        "x": 570,
        "y": 100,
        "wires": [
            [
                "a4_036",
                "a5_036",
                "t2_036"
            ],
            [
                "a6_036"
            ]
        ]
    },
    {
        "id": "a4_036",
        "type": "function",
        "z": "c3995064345d68e9",
        "name": "Save Output",
        "func": "flow.set('heaterOutput', msg.payload);\nreturn msg;",
        "outputs": 1,
        "x": 790,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "a5_036",
        "type": "debug",
        "z": "c3995064345d68e9",
        "name": "PID Output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "statusVal": "payload",
        "statusType": "auto",
        "x": 790,
        "y": 160,
        "wires": []
    },
    {
        "id": "a6_036",
        "type": "debug",
        "z": "c3995064345d68e9",
        "name": "Status",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "statusVal": "payload",
        "statusType": "auto",
        "x": 770,
        "y": 220,
        "wires": []
    },
    {
        "id": "t1_036",
        "type": "function",
        "z": "c3995064345d68e9",
        "name": "Format PV",
        "func": "return {payload: msg.payload, topic: 'PV'};",
        "outputs": 1,
        "x": 550,
        "y": 280,
        "wires": [
            [
                "t3_036"
            ]
        ]
    },
    {
        "id": "t2_036",
        "type": "function",
        "z": "c3995064345d68e9",
        "name": "Extract PID Details",
        "func": "return {\n    payload: {\n        output: msg.payload,\n        P: msg.pid.P,\n        I: msg.pid.I,\n        D: msg.pid.D,\n        FF: msg.pid.FF,\n        error: msg.pid.error,\n        tracking: msg.pid.trackingActive,\n        antiWindup: msg.pid.antiWindup\n    },\n    topic: 'PID'\n};",
        "outputs": 1,
        "x": 810,
        "y": 280,
        "wires": [
            [
                "t3_036"
            ]
        ]
    },
    {
        "id": "t3_036",
        "type": "debug",
        "z": "c3995064345d68e9",
        "name": "Trend Data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "statusVal": "topic",
        "statusType": "msg",
        "x": 1010,
        "y": 280,
        "wires": []
    },
    {
        "id": "c_alias",
        "type": "comment",
        "z": "c3995064345d68e9",
        "name": "=== INDUSTRY ALIASES (v0.3.6) ===",
        "x": 240,
        "y": 360,
        "wires": []
    },
    {
        "id": "alias_pv",
        "type": "inject",
        "z": "c3995064345d68e9",
        "name": "msg.pv = 20",
        "props": [
            {
                "p": "pv",
                "v": "20",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 170,
        "y": 400,
        "wires": [
            [
                "a3_036"
            ]
        ]
    },
    {
        "id": "alias_sp",
        "type": "inject",
        "z": "c3995064345d68e9",
        "name": "msg.sp = 24",
        "props": [
            {
                "p": "payload",
                "v": "20",
                "vt": "num"
            },
            {
                "p": "sp",
                "v": "24",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 170,
        "y": 440,
        "wires": [
            [
                "a3_036"
            ]
        ]
    },
    {
        "id": "alias_ff",
        "type": "inject",
        "z": "c3995064345d68e9",
        "name": "msg.ff = 5",
        "props": [
            {
                "p": "payload",
                "v": "20",
                "vt": "num"
            },
            {
                "p": "ff",
                "v": "5",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 170,
        "y": 480,
        "wires": [
            [
                "a3_036"
            ]
        ]
    },
    {
        "id": "alias_external",
        "type": "inject",
        "z": "c3995064345d68e9",
        "name": "msg.external = 75 (tracking)",
        "props": [
            {
                "p": "payload",
                "v": "20",
                "vt": "num"
            },
            {
                "p": "external",
                "v": "75",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 220,
        "y": 520,
        "wires": [
            [
                "a3_036"
            ]
        ]
    },
    {
        "id": "alias_cascade",
        "type": "inject",
        "z": "c3995064345d68e9",
        "name": "msg.cascade = 60 (tracking)",
        "props": [
            {
                "p": "payload",
                "v": "20",
                "vt": "num"
            },
            {
                "p": "cascade",
                "v": "60",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 220,
        "y": 560,
        "wires": [
            [
                "a3_036"
            ]
        ]
    },
    {
        "id": "c_safety",
        "type": "comment",
        "z": "c3995064345d68e9",
        "name": "=== SAFETY FEATURES (v0.3.6) ===",
        "x": 240,
        "y": 620,
        "wires": []
    },
    {
        "id": "ff_limit_test",
        "type": "inject",
        "z": "c3995064345d68e9",
        "name": "FF=1000 (should limit to 100)",
        "props": [
            {
                "p": "payload",
                "v": "20",
                "vt": "num"
            },
            {
                "p": "ff",
                "v": "1000",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 230,
        "y": 660,
        "wires": [
            [
                "a3_036"
            ]
        ]
    },
    {
        "id": "ff_limit_neg",
        "type": "inject",
        "z": "c3995064345d68e9",
        "name": "FF=-1000 (should limit to -100)",
        "props": [
            {
                "p": "payload",
                "v": "20",
                "vt": "num"
            },
            {
                "p": "ff",
                "v": "-1000",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 230,
        "y": 700,
        "wires": [
            [
                "a3_036"
            ]
        ]
    },
    {
        "id": "tracking_nan",
        "type": "inject",
        "z": "c3995064345d68e9",
        "name": "trackingValue='abc' (NaN fallback)",
        "props": [
            {
                "p": "payload",
                "v": "20",
                "vt": "num"
            },
            {
                "p": "trackingValue",
                "v": "abc",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 240,
        "y": 740,
        "wires": [
            [
                "a3_036"
            ]
        ]
    },
    {
        "id": "c_reset",
        "type": "comment",
        "z": "c3995064345d68e9",
        "name": "=== RESET RESTORES DEFAULT SP (v0.3.6) ===",
        "x": 280,
        "y": 800,
        "wires": []
    },
    {
        "id": "sp_change",
        "type": "inject",
        "z": "c3995064345d68e9",
        "name": "1. Set SP=30",
        "props": [
            {
                "p": "payload",
                "v": "20",
                "vt": "num"
            },
            {
                "p": "sp",
                "v": "30",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 170,
        "y": 840,
        "wires": [
            [
                "a3_036"
            ]
        ]
    },
    {
        "id": "reset_test",
        "type": "inject",
        "z": "c3995064345d68e9",
        "name": "2. Reset (SP should be 22 again)",
        "props": [
            {
                "p": "reset",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 240,
        "y": 880,
        "wires": [
            [
                "a3_036",
                "reset_process"
            ]
        ]
    },
    {
        "id": "reset_process",
        "type": "function",
        "z": "c3995064345d68e9",
        "name": "Reset Process",
        "func": "flow.set('temperature', 15);\nflow.set('heaterOutput', 0);\nflow.set('disturbance', 0);\nflow.set('outsideTemp', 10);\nnode.status({fill:'yellow', shape:'ring', text:'Process reset: 15°C'});\nreturn null;",
        "outputs": 1,
        "x": 500,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "c_setpoint",
        "type": "comment",
        "z": "c3995064345d68e9",
        "name": "--- Setpoint Changes ---",
        "x": 180,
        "y": 940,
        "wires": []
    },
    {
        "id": "sp18",
        "type": "inject",
        "z": "c3995064345d68e9",
        "name": "SP 18°C",
        "props": [
            {
                "p": "payload",
                "v": "20",
                "vt": "num"
            },
            {
                "p": "setpoint",
                "v": "18",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 160,
        "y": 980,
        "wires": [
            [
                "a3_036"
            ]
        ]
    },
    {
        "id": "sp22",
        "type": "inject",
        "z": "c3995064345d68e9",
        "name": "SP 22°C",
        "props": [
            {
                "p": "payload",
                "v": "20",
                "vt": "num"
            },
            {
                "p": "setpoint",
                "v": "22",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 160,
        "y": 1020,
        "wires": [
            [
                "a3_036"
            ]
        ]
    },
    {
        "id": "sp25",
        "type": "inject",
        "z": "c3995064345d68e9",
        "name": "SP 25°C",
        "props": [
            {
                "p": "payload",
                "v": "20",
                "vt": "num"
            },
            {
                "p": "setpoint",
                "v": "25",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 160,
        "y": 1060,
        "wires": [
            [
                "a3_036"
            ]
        ]
    },
    {
        "id": "c_manual",
        "type": "comment",
        "z": "c3995064345d68e9",
        "name": "--- Manual Mode + Bumpless ---",
        "x": 200,
        "y": 1120,
        "wires": []
    },
    {
        "id": "man0",
        "type": "inject",
        "z": "c3995064345d68e9",
        "name": "Manual 0%",
        "props": [
            {
                "p": "payload",
                "v": "20",
                "vt": "num"
            },
            {
                "p": "manual",
                "v": "true",
                "vt": "bool"
            },
            {
                "p": "manualValue",
                "v": "0",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 170,
        "y": 1160,
        "wires": [
            [
                "a3_036"
            ]
        ]
    },
    {
        "id": "man50",
        "type": "inject",
        "z": "c3995064345d68e9",
        "name": "Manual 50%",
        "props": [
            {
                "p": "payload",
                "v": "20",
                "vt": "num"
            },
            {
                "p": "manual",
                "v": "true",
                "vt": "bool"
            },
            {
                "p": "manualValue",
                "v": "50",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 170,
        "y": 1200,
        "wires": [
            [
                "a3_036"
            ]
        ]
    },
    {
        "id": "man100",
        "type": "inject",
        "z": "c3995064345d68e9",
        "name": "Manual 100%",
        "props": [
            {
                "p": "payload",
                "v": "20",
                "vt": "num"
            },
            {
                "p": "manual",
                "v": "true",
                "vt": "bool"
            },
            {
                "p": "manualValue",
                "v": "100",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 180,
        "y": 1240,
        "wires": [
            [
                "a3_036"
            ]
        ]
    },
    {
        "id": "man_auto",
        "type": "inject",
        "z": "c3995064345d68e9",
        "name": "→ Auto (Bumpless Transfer)",
        "props": [
            {
                "p": "payload",
                "v": "20",
                "vt": "num"
            },
            {
                "p": "manual",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 220,
        "y": 1280,
        "wires": [
            [
                "a3_036"
            ]
        ]
    },
    {
        "id": "c_ff",
        "type": "comment",
        "z": "c3995064345d68e9",
        "name": "--- Feed-Forward (Outside Temp) ---",
        "x": 220,
        "y": 1340,
        "wires": []
    },
    {
        "id": "ff_cold",
        "type": "inject",
        "z": "c3995064345d68e9",
        "name": "Outside -10°C (cold)",
        "props": [
            {
                "p": "payload",
                "v": "-10",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 200,
        "y": 1380,
        "wires": [
            [
                "ff_set"
            ]
        ]
    },
    {
        "id": "ff_mild",
        "type": "inject",
        "z": "c3995064345d68e9",
        "name": "Outside 10°C (mild)",
        "props": [
            {
                "p": "payload",
                "v": "10",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 200,
        "y": 1420,
        "wires": [
            [
                "ff_set"
            ]
        ]
    },
    {
        "id": "ff_hot",
        "type": "inject",
        "z": "c3995064345d68e9",
        "name": "Outside 30°C (hot)",
        "props": [
            {
                "p": "payload",
                "v": "30",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 200,
        "y": 1460,
        "wires": [
            [
                "ff_set"
            ]
        ]
    },
    {
        "id": "ff_set",
        "type": "function",
        "z": "c3995064345d68e9",
        "name": "Set Outside Temp",
        "func": "flow.set('outsideTemp', msg.payload);\nvar ff = (10 - msg.payload) * 0.5;\nnode.status({\n    fill: msg.payload < 10 ? 'blue' : 'red',\n    shape: 'dot',\n    text: 'Outside: ' + msg.payload + '°C → FF: ' + ff.toFixed(1)\n});\nreturn null;",
        "outputs": 1,
        "x": 470,
        "y": 1420,
        "wires": [
            []
        ]
    },
    {
        "id": "c_tracking",
        "type": "comment",
        "z": "c3995064345d68e9",
        "name": "--- Tracking Mode (Cascade) ---",
        "x": 200,
        "y": 1520,
        "wires": []
    },
    {
        "id": "track50",
        "type": "inject",
        "z": "c3995064345d68e9",
        "name": "trackingValue = 50%",
        "props": [
            {
                "p": "payload",
                "v": "20",
                "vt": "num"
            },
            {
                "p": "trackingValue",
                "v": "50",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 200,
        "y": 1560,
        "wires": [
            [
                "a3_036"
            ]
        ]
    },
    {
        "id": "track100",
        "type": "inject",
        "z": "c3995064345d68e9",
        "name": "trackingValue = 100%",
        "props": [
            {
                "p": "payload",
                "v": "20",
                "vt": "num"
            },
            {
                "p": "trackingValue",
                "v": "100",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 200,
        "y": 1600,
        "wires": [
            [
                "a3_036"
            ]
        ]
    },
    {
        "id": "track0",
        "type": "inject",
        "z": "c3995064345d68e9",
        "name": "trackingValue = 0%",
        "props": [
            {
                "p": "payload",
                "v": "20",
                "vt": "num"
            },
            {
                "p": "trackingValue",
                "v": "0",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 200,
        "y": 1640,
        "wires": [
            [
                "a3_036"
            ]
        ]
    },
    {
        "id": "track_off",
        "type": "inject",
        "z": "c3995064345d68e9",
        "name": "Normal (no tracking)",
        "props": [
            {
                "p": "payload",
                "v": "20",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 200,
        "y": 1680,
        "wires": [
            [
                "a3_036"
            ]
        ]
    },
    {
        "id": "c_params",
        "type": "comment",
        "z": "c3995064345d68e9",
        "name": "--- Runtime Parameters ---",
        "x": 180,
        "y": 1740,
        "wires": []
    },
    {
        "id": "xp_slow",
        "type": "inject",
        "z": "c3995064345d68e9",
        "name": "Xp=50% (slow)",
        "props": [
            {
                "p": "payload",
                "v": "20",
                "vt": "num"
            },
            {
                "p": "Xp",
                "v": "50",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 180,
        "y": 1780,
        "wires": [
            [
                "a3_036"
            ]
        ]
    },
    {
        "id": "xp_fast",
        "type": "inject",
        "z": "c3995064345d68e9",
        "name": "Xp=10% (fast)",
        "props": [
            {
                "p": "payload",
                "v": "20",
                "vt": "num"
            },
            {
                "p": "Xp",
                "v": "10",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 180,
        "y": 1820,
        "wires": [
            [
                "a3_036"
            ]
        ]
    },
    {
        "id": "ti_fast",
        "type": "inject",
        "z": "c3995064345d68e9",
        "name": "Ti=60s (fast I)",
        "props": [
            {
                "p": "payload",
                "v": "20",
                "vt": "num"
            },
            {
                "p": "Ti",
                "v": "60",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 180,
        "y": 1860,
        "wires": [
            [
                "a3_036"
            ]
        ]
    },
    {
        "id": "ti_default",
        "type": "inject",
        "z": "c3995064345d68e9",
        "name": "Ti=300s (default)",
        "props": [
            {
                "p": "payload",
                "v": "20",
                "vt": "num"
            },
            {
                "p": "Ti",
                "v": "300",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 190,
        "y": 1900,
        "wires": [
            [
                "a3_036"
            ]
        ]
    },
    {
        "id": "c_info",
        "type": "comment",
        "z": "c3995064345d68e9",
        "name": "=== v0.3.6 Features: Industry Aliases | FF Limiting | Tracking NaN Guard | Integrator Clamp | Reset Restores SP ===",
        "x": 450,
        "y": 1960,
        "wires": []
    }
]
