nodered-testflow/0-3-6-cascade.json
[
    {
        "id": "casc036_header",
        "type": "comment",
        "z": "casc036_flow",
        "name": "=== CASCADE CONTROL TEST (PID v0.3.6) ===",
        "info": "Demonstrates cascade control with tracking mode.\n\nOuter PID (Room Temp) → Inner PID (Flow Temp) → Valve\n\nTracking prevents integrator windup when inner loop saturates.",
        "x": 280,
        "y": 40,
        "wires": []
    },
    {
        "id": "casc036_info",
        "type": "comment",
        "z": "casc036_flow",
        "name": "Room Temp (slow) → Flow Temp SP → Flow Temp (fast) → Valve | Inner output tracks back to Outer",
        "x": 360,
        "y": 80,
        "wires": []
    },
    {
        "id": "casc036_start",
        "type": "inject",
        "z": "casc036_flow",
        "name": "Start Cascade",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "casc036_process"
            ]
        ]
    },
    {
        "id": "casc036_process",
        "type": "function",
        "z": "casc036_flow",
        "name": "Thermal Process (Room + Flow)",
        "func": "// === CASCADE THERMAL SIMULATION ===\n// Room temp responds slowly to flow temp\n// Flow temp responds quickly to valve\n\nvar roomTemp = flow.get('roomTemp') || 18;\nvar flowTemp = flow.get('flowTemp') || 30;\nvar valveOutput = flow.get('valve') || 0;\nvar flowSP = flow.get('flowSP') || 40;\nvar outsideTemp = flow.get('outside') || 5;\n\n// Flow temp: fast response to valve\nvar flowHeatGain = valveOutput * 0.8;  // Valve heats flow\nvar flowHeatLoss = (flowTemp - 20) * 0.3;  // Loss to ambient\nflowTemp = flowTemp + flowHeatGain - flowHeatLoss;\nflowTemp = Math.max(20, Math.min(80, flowTemp));  // Physical limits\n\n// Room temp: slow response to flow temp + outside influence\nvar roomHeatGain = (flowTemp - roomTemp) * 0.02;  // Radiator heats room\nvar roomHeatLoss = (roomTemp - outsideTemp) * 0.015;  // Loss to outside\nroomTemp = roomTemp + roomHeatGain - roomHeatLoss;\n\n// Add noise\nroomTemp += (Math.random() - 0.5) * 0.1;\nflowTemp += (Math.random() - 0.5) * 0.2;\n\nflow.set('roomTemp', roomTemp);\nflow.set('flowTemp', flowTemp);\n\nmsg.payload = Math.round(roomTemp * 10) / 10;  // PV for Outer PID\nmsg.roomTemp = msg.payload;\nmsg.flowTemp = Math.round(flowTemp * 10) / 10;\nmsg.flowSP = flowSP;\nmsg.valve = valveOutput;\n\n// TRACKING: Send inner loop output back to outer loop\nvar innerOutput = flow.get('innerOutput');\nif (innerOutput !== undefined) {\n    msg.trackingValue = innerOutput;  // Prevents outer integrator windup!\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 140,
        "wires": [
            [
                "casc036_outer_pid",
                "casc036_room_debug"
            ]
        ]
    },
    {
        "id": "casc036_outer_pid",
        "type": "pid-controller",
        "z": "casc036_flow",
        "name": "OUTER PID (Room → Flow SP)",
        "setpoint": "22",
        "useXp": true,
        "Kp": "20",
        "Ti": "120",
        "Td": "0",
        "outMin": "30",
        "outMax": "70",
        "rateLimit": "0",
        "reverseActing": false,
        "centeredBand": false,
        "manualMode": false,
        "manualValue": "0",
        "decimals": "1",
        "maxInterval": "5",
        "ffEnable": false,
        "ffGain": "1",
        "x": 720,
        "y": 140,
        "wires": [
            [
                "casc036_outer_to_inner",
                "casc036_outer_debug"
            ],
            []
        ]
    },
    {
        "id": "casc036_outer_to_inner",
        "type": "function",
        "z": "casc036_flow",
        "name": "Outer Output → Inner SP",
        "func": "// Outer PID output becomes Inner PID setpoint\nvar flowSP = msg.payload;  // Outer output = Flow setpoint\nvar flowPV = flow.get('flowTemp') || 30;\n\nflow.set('flowSP', flowSP);\n\nmsg.setpoint = flowSP;  // Inner PID setpoint\nmsg.payload = flowPV;   // Inner PID process value\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 140,
        "wires": [
            [
                "casc036_inner_pid"
            ]
        ]
    },
    {
        "id": "casc036_inner_pid",
        "type": "pid-controller",
        "z": "casc036_flow",
        "name": "INNER PID (Flow → Valve)",
        "setpoint": "40",
        "useXp": true,
        "Kp": "10",
        "Ti": "30",
        "Td": "0",
        "outMin": "0",
        "outMax": "100",
        "rateLimit": "0",
        "reverseActing": false,
        "centeredBand": false,
        "manualMode": false,
        "manualValue": "0",
        "decimals": "1",
        "maxInterval": "5",
        "ffEnable": false,
        "ffGain": "1",
        "x": 1240,
        "y": 140,
        "wires": [
            [
                "casc036_inner_save",
                "casc036_inner_debug"
            ],
            []
        ]
    },
    {
        "id": "casc036_inner_save",
        "type": "function",
        "z": "casc036_flow",
        "name": "Save Valve + Track Back",
        "func": "// Save valve output for process simulation\nflow.set('valve', msg.payload);\n\n// CRITICAL: Save inner output for tracking back to outer\nflow.set('innerOutput', msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1490,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "casc036_room_debug",
        "type": "debug",
        "z": "casc036_flow",
        "name": "Room Temp (PV)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "statusVal": "roomTemp",
        "statusType": "msg",
        "x": 700,
        "y": 200,
        "wires": []
    },
    {
        "id": "casc036_outer_debug",
        "type": "debug",
        "z": "casc036_flow",
        "name": "Flow SP (Outer Out)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "statusVal": "payload",
        "statusType": "auto",
        "x": 970,
        "y": 200,
        "wires": []
    },
    {
        "id": "casc036_inner_debug",
        "type": "debug",
        "z": "casc036_flow",
        "name": "Valve % (Inner Out)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1470,
        "y": 200,
        "wires": []
    },
    {
        "id": "casc036_c_sp",
        "type": "comment",
        "z": "casc036_flow",
        "name": "--- Room Setpoint ---",
        "x": 160,
        "y": 260,
        "wires": []
    },
    {
        "id": "casc036_sp20",
        "type": "inject",
        "z": "casc036_flow",
        "name": "Room SP 20°C",
        "props": [
            {
                "p": "payload",
                "v": "18",
                "vt": "num"
            },
            {
                "p": "sp",
                "v": "20",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 160,
        "y": 300,
        "wires": [
            [
                "casc036_outer_pid"
            ]
        ]
    },
    {
        "id": "casc036_sp22",
        "type": "inject",
        "z": "casc036_flow",
        "name": "Room SP 22°C",
        "props": [
            {
                "p": "payload",
                "v": "18",
                "vt": "num"
            },
            {
                "p": "sp",
                "v": "22",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 160,
        "y": 340,
        "wires": [
            [
                "casc036_outer_pid"
            ]
        ]
    },
    {
        "id": "casc036_sp25",
        "type": "inject",
        "z": "casc036_flow",
        "name": "Room SP 25°C",
        "props": [
            {
                "p": "payload",
                "v": "18",
                "vt": "num"
            },
            {
                "p": "sp",
                "v": "25",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 160,
        "y": 380,
        "wires": [
            [
                "casc036_outer_pid"
            ]
        ]
    },
    {
        "id": "casc036_sp18",
        "type": "inject",
        "z": "casc036_flow",
        "name": "Room SP 18°C (cool down)",
        "props": [
            {
                "p": "payload",
                "v": "18",
                "vt": "num"
            },
            {
                "p": "sp",
                "v": "18",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 200,
        "y": 420,
        "wires": [
            [
                "casc036_outer_pid"
            ]
        ]
    },
    {
        "id": "casc036_c_outside",
        "type": "comment",
        "z": "casc036_flow",
        "name": "--- Outside Temperature (Disturbance) ---",
        "x": 220,
        "y": 480,
        "wires": []
    },
    {
        "id": "casc036_out_cold",
        "type": "inject",
        "z": "casc036_flow",
        "name": "Outside -10°C (very cold)",
        "props": [
            {
                "p": "payload",
                "v": "-10",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 200,
        "y": 520,
        "wires": [
            [
                "casc036_set_outside"
            ]
        ]
    },
    {
        "id": "casc036_out_cool",
        "type": "inject",
        "z": "casc036_flow",
        "name": "Outside 0°C (cold)",
        "props": [
            {
                "p": "payload",
                "v": "0",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 180,
        "y": 560,
        "wires": [
            [
                "casc036_set_outside"
            ]
        ]
    },
    {
        "id": "casc036_out_mild",
        "type": "inject",
        "z": "casc036_flow",
        "name": "Outside 10°C (mild)",
        "props": [
            {
                "p": "payload",
                "v": "10",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 180,
        "y": 600,
        "wires": [
            [
                "casc036_set_outside"
            ]
        ]
    },
    {
        "id": "casc036_out_warm",
        "type": "inject",
        "z": "casc036_flow",
        "name": "Outside 20°C (warm)",
        "props": [
            {
                "p": "payload",
                "v": "20",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 190,
        "y": 640,
        "wires": [
            [
                "casc036_set_outside"
            ]
        ]
    },
    {
        "id": "casc036_set_outside",
        "type": "function",
        "z": "casc036_flow",
        "name": "Set Outside Temp",
        "func": "flow.set('outside', msg.payload);\nnode.status({\n    fill: msg.payload < 10 ? 'blue' : 'green',\n    shape: 'dot',\n    text: 'Outside: ' + msg.payload + '°C'\n});\nreturn null;",
        "outputs": 1,
        "x": 470,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "casc036_c_control",
        "type": "comment",
        "z": "casc036_flow",
        "name": "--- Control ---",
        "x": 130,
        "y": 700,
        "wires": []
    },
    {
        "id": "casc036_reset",
        "type": "inject",
        "z": "casc036_flow",
        "name": "RESET CASCADE",
        "props": [
            {
                "p": "reset",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 170,
        "y": 740,
        "wires": [
            [
                "casc036_outer_pid",
                "casc036_inner_pid",
                "casc036_reset_process"
            ]
        ]
    },
    {
        "id": "casc036_reset_process",
        "type": "function",
        "z": "casc036_flow",
        "name": "Reset Process State",
        "func": "flow.set('roomTemp', 18);\nflow.set('flowTemp', 30);\nflow.set('valve', 0);\nflow.set('innerOutput', 50);\nflow.set('flowSP', 40);\nflow.set('outside', 5);\nnode.status({fill:'yellow', shape:'ring', text:'Reset: Room 18°C, Flow 30°C, Outside 5°C'});\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "casc036_c_manual",
        "type": "comment",
        "z": "casc036_flow",
        "name": "--- Manual Inner (simulate saturation) ---",
        "x": 220,
        "y": 800,
        "wires": []
    },
    {
        "id": "casc036_inner_man100",
        "type": "inject",
        "z": "casc036_flow",
        "name": "Inner Manual 100% (saturate)",
        "props": [
            {
                "p": "payload",
                "v": "30",
                "vt": "num"
            },
            {
                "p": "manual",
                "v": "true",
                "vt": "bool"
            },
            {
                "p": "manualValue",
                "v": "100",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 220,
        "y": 840,
        "wires": [
            [
                "casc036_inner_pid"
            ]
        ]
    },
    {
        "id": "casc036_inner_man0",
        "type": "inject",
        "z": "casc036_flow",
        "name": "Inner Manual 0% (saturate low)",
        "props": [
            {
                "p": "payload",
                "v": "30",
                "vt": "num"
            },
            {
                "p": "manual",
                "v": "true",
                "vt": "bool"
            },
            {
                "p": "manualValue",
                "v": "0",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 220,
        "y": 880,
        "wires": [
            [
                "casc036_inner_pid"
            ]
        ]
    },
    {
        "id": "casc036_inner_auto",
        "type": "inject",
        "z": "casc036_flow",
        "name": "Inner → Auto",
        "props": [
            {
                "p": "payload",
                "v": "30",
                "vt": "num"
            },
            {
                "p": "manual",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 170,
        "y": 920,
        "wires": [
            [
                "casc036_inner_pid"
            ]
        ]
    },
    {
        "id": "casc036_c_tracking",
        "type": "comment",
        "z": "casc036_flow",
        "name": "--- Tracking Test (Industry Aliases) ---",
        "x": 210,
        "y": 980,
        "wires": []
    },
    {
        "id": "casc036_track_external",
        "type": "inject",
        "z": "casc036_flow",
        "name": "msg.external = 50 (alias test)",
        "props": [
            {
                "p": "payload",
                "v": "20",
                "vt": "num"
            },
            {
                "p": "external",
                "v": "50",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 210,
        "y": 1020,
        "wires": [
            [
                "casc036_outer_pid"
            ]
        ]
    },
    {
        "id": "casc036_track_cascade",
        "type": "inject",
        "z": "casc036_flow",
        "name": "msg.cascade = 75 (alias test)",
        "props": [
            {
                "p": "payload",
                "v": "20",
                "vt": "num"
            },
            {
                "p": "cascade",
                "v": "75",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 210,
        "y": 1060,
        "wires": [
            [
                "casc036_outer_pid"
            ]
        ]
    },
    {
        "id": "casc036_track_nan",
        "type": "inject",
        "z": "casc036_flow",
        "name": "msg.trackingValue = 'abc' (NaN test)",
        "props": [
            {
                "p": "payload",
                "v": "20",
                "vt": "num"
            },
            {
                "p": "trackingValue",
                "v": "abc",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 230,
        "y": 1100,
        "wires": [
            [
                "casc036_outer_pid"
            ]
        ]
    },
    {
        "id": "casc036_c_dashboard",
        "type": "comment",
        "z": "casc036_flow",
        "name": "--- Dashboard (all values) ---",
        "x": 640,
        "y": 260,
        "wires": []
    },
    {
        "id": "casc036_dash_inject",
        "type": "inject",
        "z": "casc036_flow",
        "name": "Get Status",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 640,
        "y": 300,
        "wires": [
            [
                "casc036_dash_fn"
            ]
        ]
    },
    {
        "id": "casc036_dash_fn",
        "type": "function",
        "z": "casc036_flow",
        "name": "Cascade Dashboard",
        "func": "var roomTemp = flow.get('roomTemp') || 18;\nvar flowTemp = flow.get('flowTemp') || 30;\nvar flowSP = flow.get('flowSP') || 40;\nvar valve = flow.get('valve') || 0;\nvar outside = flow.get('outside') || 5;\nvar innerOut = flow.get('innerOutput') || 0;\n\nmsg.payload = {\n    roomTemp: Math.round(roomTemp * 10) / 10,\n    flowTemp: Math.round(flowTemp * 10) / 10,\n    flowSP: Math.round(flowSP * 10) / 10,\n    valve: Math.round(valve * 10) / 10,\n    outside: outside,\n    tracking: Math.round(innerOut * 10) / 10\n};\n\nnode.status({\n    fill: 'green',\n    shape: 'dot',\n    text: 'Room:' + msg.payload.roomTemp + ' Flow:' + msg.payload.flowTemp + \n          '/' + msg.payload.flowSP + ' Valve:' + msg.payload.valve + '%'\n});\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 300,
        "wires": [
            [
                "casc036_dash_debug"
            ]
        ]
    },
    {
        "id": "casc036_dash_debug",
        "type": "debug",
        "z": "casc036_flow",
        "name": "Cascade Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 300,
        "wires": []
    },
    {
        "id": "casc036_info_tracking",
        "type": "comment",
        "z": "casc036_flow",
        "name": "=== TRACKING: Inner output → Outer PID prevents integrator windup when valve saturates ===",
        "x": 370,
        "y": 1160,
        "wires": []
    },
    {
        "id": "casc036_info_test",
        "type": "comment",
        "z": "casc036_flow",
        "name": "TEST: 1. Set Room SP 25°C  2. Set Outside -10°C  3. Watch valve saturate at 100%  4. Outer PID stays stable (no windup)",
        "x": 400,
        "y": 1200,
        "wires": []
    }
]
